* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #fff;
}

.main-footer {
  height: 102px;
  display: flex;
  justify-content: center;
}

.header-guarantee,
.main-footer {
  background-color: #252f3d;
}

.header-guarantee {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.checkmark {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.guarantee-text {
  color: #fff;
  font-family: Manrope, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
  text-transform: capitalize;
}

.guarantee-center {
  display: flex;
  align-items: center;
}

.footer-block {
  padding: 20px 0 20px 0;
}

.copyright {
  padding-right: 12px;
  border-right: 1px solid #fff;
  text-transform: capitalize;
  height: 14px;
  padding-top: 1px;
}

.email-contact {
  padding-left: 12px;
}

.copyright,
.email-contact {
  color: #fff;
  font-family: Manrope, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}

.copyright-contact-container {
  padding: 7px;
}

.encryptation-container {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.encryptation {
  color: #fff;
  text-align: center;
  font-family: Manrope, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  text-transform: capitalize;
}

.clarifion-img {
  width: 106px;
  height: 20px;
  flex-shrink: 0;
  background-image: url(../assets/clarifion_img_mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

.antivirus-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.lower-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  height: 64px;
}

.lock-desktop,
.not-visible-on-mobile {
  display: none;
}

.inner-body {
  padding: 32px 20px 32px 20px;
}

h1 {
  color: #000;
  text-align: center;
  font-family: Manrope, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
  text-transform: capitalize;
}

.lorem {
  color: #4D5254;
  text-align: center;
  font-family: Manrope, sans-serif;
  height: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-device-width: 768px) {
  .encryptation-container {
    padding-top: 0;
  }

  .copyright-contact-container {
    display: flex;
    align-items: center;
  }

  .main-footer {
    height: 88px;
    padding-left: 8.4%;
    padding-right: 7.9%;
  }

  .footer-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .copyright,
  .email-contact,
  .encryptation {
    font-size: 16px;
  }

  .lock-mobile {
    display: none;
  }

  .lock-desktop {
    display: block;
  }

  .copyright {
    padding-right: 16px;
    height: 24px;
    display: flex;
    align-items: center;
  }

  .email-contact {
    padding-left: 16px;
  }

  .not-visible-on-dsk {
    display: none;
  }

  .not-visible-on-mobile {
    display: flex;
  }

  .header-guarantee {
    justify-content: space-between;
    padding: 4px 9.1% 4px 8.4%;
  }

  .clarifion-img {
    width: 192px;
    height: 36px;
    background-image: url(../assets/clarifion_img_dsk.png);
  }

  .lower-header-container {
    padding: 16px 127px 16px 127px;
  }
}
